{% extends 'story6tdd/base.html' %}
{% load static %}

{% block body %}
    <h1 class="text-center mt-5 container">HELLO, HOW ARE YOU?</h1>
    <div class="d-flex justify-content-center mt-3">
        <form action="{% url 'homepage:index' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-info btn-outline-light btn-lg" id="submit">SUBMIT</button>
            </div>
        </form>
    </div>
    <div class="container mt-4 mb-4">
        <hr>
    </div>
    <div class="container">
        {% if result %}
            {% for item in result %}
            <div class="card p-4 m-3 d-flex">
                <div>
                    <p>{{ item.status }}</p>
                    <p>Posted at {{ item.time }}</p>
                </div>
                <div>
                    <form method="POST" action="{% url 'homepage:delete' item.id%}"> {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-lg float-right"  id="post-{{ item.id }}">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h6 class="text-center text-muted">--- No Status Yet ---</h6>
        {% endif %}
    </div>
{% endblock body %}